/* Coolors Exported Palette - coolors.co/db504a-254e70-37718e-2bd9fe-4f5d75 */

/* HSL */
$color1: hsla(2%, 67%, 57%, 1);
$color2: hsla(207%, 50%, 29%, 1);
$color3: hsla(200%, 44%, 39%, 1);
$color4: hsla(191%, 99%, 58%, 1);
$color5: hsla(218%, 19%, 38%, 1);

/* RGB */
$color1: rgba(219, 80, 74, 1);
$color2: rgba(37, 78, 112, 1);
$color3: rgba(55, 113, 142, 1);
$color4: rgba(43, 217, 254, 1);
$color5: rgba(79, 93, 117, 1);