<header>
    <img src="../../assets/favicon/favicon.png">
    <span class="header-text">Citizenship Test by
      <a href="https://www.twitter.com/bhagatparwinder" target="_blank">@bhagatparwinder</a>
    </span>
    <span class="quick-links">
      Find me on:
      <a href="https://github.com/bhagatparwinder" target="_blank">Github</a> |
      <a href="https://www.linkedin.com/in/bhagatparwinder" target="_blank">LinkedIn</a> |
      <a href="https://www.twitter.com/bhagatparwinder" target="_blank">Twitter</a>
    </span>
</header>
