<header>
    <img src="assets/favicon/favicon.png">
    <div class="credits">
      <span class="header-text">Citizenship Test by</span>
      <span>
        <div class="contributor">
          <a href="https://www.twitter.com/bhagatparwinder" target="_blank">@bhagatparwinder</a>
          <span class="quick-links">
            (
            <a href="https://github.com/bhagatparwinder" target="_blank">Github</a> |
            <a href="https://www.linkedin.com/in/bhagatparwinder" target="_blank">LinkedIn</a> 
            )
          </span>
        </div>
        <div class="contributor">
          <span>tosh sharma</span> 
          <span class="quick-links">
            (
            <a href="https://github.com/adevkota" target="_blank">Github</a> |
            <a href="https://www.linkedin.com/in/tosh-sharma" target="_blank">LinkedIn</a> 
            )
          </span>
        </div>
  
      </span>
    </div>
</header>
