header {
    position: relative;
    max-height: 60px;
    overflow: hidden;
    padding: 10px;
    border-bottom: 1px solid #eee;
    display:flex;
    justify-content: space-between;
}

header img {
    height: 40px;
    width: auto;
}

a {
    text-decoration: none;
}

header .quick-links {
    /* position: absolute; */
    bottom: 0;
    right: 10px;
}

.header-text{
    margin-right: 10px;
}

.contributor,
.credits{
    display: flex;
}

.contributor{
    justify-content: space-between;
}
.contributor>a{
    padding-right:10px;
}
@media only screen and (max-device-width: 480px) {
    header .header-text {
        display: none;
    }
}
