<div class="question-component" >
    <section class="quiz" [@changeQuestionState]="currentQuestionChangeState">
        <div class="question-container">Question {{question.id}}:
            <span class="question-desc">{{question.desc}}</span>
        </div>
        <div (click)="handleAnswerClick($event)">
            <div  class="answer" 
                *ngFor="let answer of question.choices"
                [ngClass]="{'selected':isSelected(answer.id), 'incorrect': isIncorrect(answer.id)}"
                [attr.data-answer-id]="answer.id">
                <span class="answer-id">{{answer.id}}</span>
                <span class="answer-desc">{{answer.desc}}</span>
            </div>
        </div>
    </section>
    <div class="button-group">
        <button *ngIf="question.id > 1" (click)="prevQuestion()">< Prev </button>
        <button class="right" *ngIf="!isLast" (click)="nextQuestion()">Next ></button>
    </div>
</div>
