.question {
    overflow: hidden;
}

.question-container {
    margin-bottom: 20px;
}

.question-desc {
    font-weight: bold;
}

.answer {
    border-bottom: 1px solid #eee;
    padding: 20px;
    cursor: pointer;
    background-image: linear-gradient(to left, transparent, transparent 50%, #00c6ff 50%, #00c6ff);
    background-position: 100% 0;
    background-size: 200% 100%;
    /* transition: all .15s ease-in; */
}

.answer:hover {
    background-position: 0 0;
    color: #ffffff;
}

.answer-id {
    border: 2px solid #eee;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    padding: 3px;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
}

button {
    background: #00c6ff;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    border: none;
}

.button-group{
    display: flex;
}
button.right{
    margin-left: auto;
}
